/* 
    Document   : sistema
    Created on : 20/01/2012, 23:34:51
    Author     : Maison
    Description:
        Purpose of the stylesheet follows.
*/
* 
{
    padding     : 0;
    margin      : 0;
    font-size   : 12px;
    font-family : Helvetica;
}
.ui-button
{
    font-size   : 10px;
}
.data tr .ui-state-hover 
{
    font-weight : normal;
}

.data tr .tdData
{
    border-width    : 1px 0 0 1px;
}
.data tr .tdLastCol
{
    border-width    : 1px 1px 0 1px;
}
.data tr .tdLastRow
{
    border-width    : 1px 0 1px 1px;
}
.data tr .tdLast
{
    border-width    : 1px;
}
.data tr .thFirst
{
    border-width    : 1px 0 1px 1px;
}
.data tr .thLast
{
    border-width    : 1px;
    height          : 19px;
    padding         : 3px;
}
td 
{
    padding         : 2px 5px;
}
td.actionContainer 
{
    padding : 1px !important;
    border  : 0 !important;
}
input.inputDefault 
{
    padding     : 0.405em 2.1em 0.405em 1em;
    width       : 455px;
}
.toolbar 
{
    margin-top  : 15px;
    padding     : 4px;
}
.toolbar .ui-button 
{
    /*margin-right: -0.4em;*/
}
label.error
{
    color           : #CC0000;
    font-variant    : small-caps;
    padding-left    : 7px;
}
.inputDefault.error
{
    border-color    : #CC0000 !important;
    border-style    : dashed !important;
}
